<!-- Start hero box --->

<div class="hero">
  <br />
  <br />
  <div class="frosty col-8 offset-2 text-center">
    <br />
    <h1>Learn new skills!</h1>
    <br /><br />
    <h2>On demand video lessons</h2>
    <br /><br />
    <%= link_to 'Learn more', courses_path, class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>
<br />
<br class="clr" />

<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>On demand courses</h3>
    <br />
    <p>Select from dozens of courses to watch from the comfort of your own home!</p>
  </div>
  <div class="col-12 col-sm">
    <h3>The best teachers</h3>
    <br />
    <p>Courses are taught by leaders of thier respective industries!</p>
  </div>
  <div class="col-12 col-sm">
    <h3>Make friends</h3>
    <br />
    <p>You will make friends the will last a lifetime</p>
  </div>
</div>

<!-- End hero box --->